<launch>
	<node name="joy_node" pkg="joy" type="joy_node" />
	<node name="drive_mode_control" pkg="yeti_snowplow" type="drive_mode_control" output="screen"/>
	<node name="joystick" pkg="yeti_snowplow" type="joystick"/>
	<node name="waypoint_selection" pkg="yeti_snowplow" type="waypoint_selection" />
</launch>